.node {
    width: 24px;
    height: 24px;
    border-radius: .25rem;
    background-color: white;
    border: 1px solid aqua;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start span {
    color: teal;
    font-size: x-large;
}

.end span {
    color: tomato;
    font-size: large;
}

.start {
    background-image: radial-gradient(aquamarine, teal);
    animation-name: start-selected-anim;
    animation-duration: 0.5s;
}

.end {
    background-image: radial-gradient(crimson, firebrick);
    animation-name: end-selected-anim;
    animation-duration: 0.5s;
}

.wall {
    background-image: radial-gradient(black, darkslategrey);
    animation-name: wall-node-anim;
    animation-duration: 0.5s;
}

.current {
    background-color: gold;
    animation-name: current-node-anim;
    animation-duration: 0.5s;
}

.visited {
    background-image: radial-gradient(navy, mediumblue);
    animation-name: node-visited-anim;
    animation-duration: 0.5s;
}

.path {
    background-image: linear-gradient(darkslateblue, slateblue);
    animation-name: node-path-anim;
    animation-duration: 0.5s;
}

@keyframes start-selected-anim {
    from {
        border-radius: 1rem;
        background-color: white;
    }
    to {
        border-radius: 0.25rem;
        background-color: aquamarine;
    }
}

@keyframes end-selected-anim {
    from {
        border-radius: 1rem;
        background-color: white;
    }
    to {
        border-radius: 0.25rem;
        background-color: crimson;
    }
}

@keyframes wall-node-anim {
    from {
        border-radius: 1rem;
        background-color: white;
    }
    to {
        border-radius: 0.25rem;
        background-color: darkslategrey;
    }
}

@keyframes current-node-anim {
    from {
        border-radius: 10rem;
        background-color: white;
    }
    to {
        border-radius: 0.25rem;
        background-color: gold;
    }
}

@keyframes node-visited-anim {
    from {
        background-color: white;
        border-radius: 1rem;
    }
    to {
        background-color: navy;
        border-radius: 0.25rem;
    }
}

@keyframes node-path-anim {
    from {
        background-color: white;
        border-radius: 1rem;
    }
    to {
        background-color: darkslateblue;
        border-radius: 0.25rem;
    }
}
